
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  font-size: 1.2em;
}

main {
  flex: 1 0 auto; 
  /* height: 700px; */
  } 

#word {
  background: white;
  border: solid 1px gainsboro;
  padding-left:5px;
}
  
.odd {
  background: whitesmoke;
  padding-bottom: 10px;
}

.img-nail {
  margin-top: 20px;
}

.low-case { text-transform: lowercase; }
  
/* h1, h2 {     color: #335E82; } */

  /* nav {
    background: steelblue;
} */

/* .navbar-fixed {
  height: 300px;
  min-height: 300px;
  border: solid 1px gray;
} */

/*#sub-nav {
  background: whitesmoke;
}*/

/* #name {
  margin-top: -50px;
} */

/*.page-footer {
    background: lightsteelblue;
}*/